@use '../../../../../styles.scss' as *;

.user {
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background: #fff;
    border: 1px solid #f0f0f0;
    min-width: 240px;
    margin: 0.5rem;
    transition: scale .1s ease-in;

    &:hover {
        cursor: pointer;
        scale: 1.02;
    }

    .user-name {
        font-weight: bold;
    }

    .user-city {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    @include mobile {
        width: 100%;
        margin: 0.4rem;
    }
}
